@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}


html {
  scroll-behavior: smooth;
}

body {
  background-color: #d7d5d3;
  color: #242424;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #242424;
}

::selection {
  background-color: #fcfcfc;
  color: #3a3939;
}

.container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 3rem auto;
  border-radius: 80px;
  background-color: #ffffff;
  border: 2px solid #fafafa;
  overflow: hidden;
  isolation: isolate;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='noiseFilter'><feTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='1' stitchTiles='stitch'/></filter><rect width='100%' height='100%' filter='url(%23noiseFilter)'/></svg>");
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.7;
  border-radius: 80px;
  pointer-events: none;
  z-index: -1;
}

.hero {
  position: relative;
  background-color: #f0f0f0;
  /* height: calc(100vh - 6rem); */
  height: 640px;
  isolation: isolate;
  border-radius: 80px;
  border-bottom: 1px solid #cdcdcd;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='noiseFilter'><feTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='1' stitchTiles='stitch'/></filter><rect width='100%' height='100%' filter='url(%23noiseFilter)'/></svg>");
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.6;
  pointer-events: none;
  z-index: -1;
  border-radius: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem 1rem 4rem;
}

nav .logo {
  font-weight: bold;
  color: #1a1a1a;
}

nav .logo:hover {
  font-weight: bolder;
  color: #000;
}

nav .social-links a {
  margin-left: 5px;
  transition: letter-spacing .4s ease-out,
    font-weight .6s ease-out;
}

nav .social-links a span {
  margin-left: 5px;
  font-weight: bolder;
  color: black;
}

nav .social-links a:hover {
  color: black;
  letter-spacing: 1px;
  font-weight: bold;
}

.hero .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
  margin-top: -5rem;
  z-index: -1;
}

.hero .content>div {
  position: relative;
  cursor: help;
  width: max-content;
}

.hero .content .profile-pic {
  width: 130px;
  border-radius: 50%;
  filter: grayscale(100%);
  outline: 5px outset white;
  transition: filter .7s ease;
}

.hero .content .profile-pic:hover {
  filter: grayscale(0%);
}

.hero .content .profile-pic:hover+.name-tag {
  pointer-events: none;
  background: black;
  color: white;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero .content .name-tag {
  position: absolute;
  top: 15%;
  left: 70%;
  transform: rotate(-12deg);
  background-color: white;
  padding: 10px 20px;
  border-radius: 25px;
  white-space: nowrap;
  transition: transform .5s ease,
    top .5s ease-out,
    left 2s ease;
}

.hero .content h1 {
  max-width: 450px;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  background-image: linear-gradient(to right, #101012, #727173);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.btn {
  padding: .5rem 1.25rem;
  background-color: #242424;
  color: white;
  border-radius: 20px;
  font-size: 1.25rem;
  margin-top: .8rem;
  transition: color, background-color .5s ease;
}

.btn:hover {
  background-color: white;
  color: #242424;
}

.technologies {
  position: relative;
  overflow: hidden;
}

.technologies .bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: #f0f0f0;
}

.technologies .bg {
  background-color: #f0f0f0;
  isolation: isolate;
}

.technologies .bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='noiseFilter'><feTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='1' stitchTiles='stitch'/></filter><rect width='100%' height='100%' filter='url(%23noiseFilter)'/></svg>");
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.6;
  pointer-events: none;
  z-index: -1;
}

.slider {
  position: relative;
  overflow: hidden;
  display: flex;
  gap: 3rem;
  /* -webkit-mask: linear-gradient(90deg,
      transparent,
      white 20%,
      white 80%, transparent);
  mask: 90deg,
    transparent,
    white 20%,
    white 80%, transparent; */
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  /* background: #b80404; */
  border-bottom: 1px solid #cdcdcd;
}

.slider {
  position: relative;
  width: 100%;
  border-radius: 80px;
  background-color: #ffffff;
  overflow: hidden;
  isolation: isolate;
}

.slider::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='noiseFilter'><feTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='1' stitchTiles='stitch'/></filter><rect width='100%' height='100%' filter='url(%23noiseFilter)'/></svg>");
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.7;
  border-radius: 80px;
  pointer-events: none;
  z-index: -1;
}

.slider .techs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 5rem 0 6rem 0;
  gap: 3rem;
  animation: slide 90s infinite linear;
}

.slider .techs svg {
  flex: 0 0 3.5rem;
  filter: grayscale(100%);
  cursor: pointer;
  transition: filter 1s ease,
    transform .6s ease-out;
}

.slider .techs svg:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
}

.slider .techs svg:hover+*,
.slider .techs svg:has(+ *:hover) {
  filter: grayscale(50%);
  transform: scale(1.05);
}

.slider .techs svg:hover+*+*,
.slider .techs svg:has(+*+*:hover) {
  filter: grayscale(70%);
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.about-me {
  position: relative;
  background-color: #f0f0f0;
  /* height: calc(100vh - 6rem); */
  isolation: isolate;
  /* border-radius: 50px; */
}

.about-me::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='noiseFilter'><feTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='1' stitchTiles='stitch'/></filter><rect width='100%' height='100%' filter='url(%23noiseFilter)'/></svg>");
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.6;
  pointer-events: none;
  z-index: -1;
  /* border-radius: 50px; */
}

.about-me p {
  padding-top: 3rem;
}